# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local secrets
*.auto.tfvars
*.pem
*.key

# OS / editor
.DS_Store
.idea/
.vscode/
